body {
    margin: 0; /* Убираем отступы */
    height: 100%; /* Высота страницы */
    background: url(home.jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */
   }
  p {
    margin-top: 2em; /* Отступ сверху */
    margin-bottom: 1em; /* Отступ снизу */
p4 {
 
    margin-top: 8em; /* Отступ сверху */
    margin-bottom: 1em; /* Отступ снизу */
   
color: white;
font-size:70px;

}
   }
  h1 {
margin-top: 1em; /* Отступ сверху */
    margin-bottom: 1em; /* Отступ снизу */
}
p1 {
color: white;
font-size:30px;
}
p2 {
color: white;
font-size:40px;
font-weight: bold
}
p3 {
color: white;
font-size:30px;
}