body {
    margin: 0; 
    height: 100%; 
    background: url(about.jpg); 
    background-size: cover; 
   }
  p {
    margin-top: 4em; 
    margin-bottom: 1em; 
   }
  h1 {
margin-top: 1em; 
    margin-bottom: 1em; 
}
p1 {
color: white;
font-size:30px;
}